@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.navbar-display-flex,
.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-primary {
    color: #ff900e;
}

.brand {
    font-weight: 700;
    font-size: 3em;
}

.nav-link {
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    font-weight: 500;

}

.text-gray {
    color: #424242;
}

.text-light-gray,
.feature-discription {
    color: #727272;
}

.bg-light {
    background-color: #ecbd88;
}

.navbar-display-flex,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-container {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4em;
}

.btn-primary {
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
}

main>section {
    margin-top: 130px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-image {
    width: 100%;
}

.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

.section-titel {
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list {
    font-weight: 500;
}
#feature-section-tite{
    border-left: 2px solid #ff900e;
    padding-left: 20px;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.facts-card {
    /* display: flex; */
    border: 1px solid gold;
    width: 240px;
    height: 240px;
    border-radius: 8px;


}

.facts-card {
    
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.facts-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.feature-discription{
    max-width: 540px;
}
.sponsor-info{
    max-width:540px ;
    margin: 50px auto;
    text-align: center;
    
}
.sponsor-companis{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    justify-items: center;
    
    
}
.sponsor-companis img{
    filter: grayscale(100%);
    
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;

}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
    margin: 0px;
}
.feature-architect img{
    width: 100%;
}
.feature{
    gap: 144px;
}
.feature-card{
padding: 30px;
    box-shadow: 0 4px 30px 0 #dad1d1;
    margin-bottom: 20px;
    border-radius: 8px;
    
}
.feature-card,.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

@media screen and (max-width: 576px) {

    .navbar-display-flex,
    .nav-link,
    .teams {
        flex-direction: column;
    }

    .team-img-container, .facts-container, .sponsor-companis, .feature navbar-display-flex{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin-left: 20px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 577px) and (max-width:992px) {
    .teams,.feature{
        flex-direction: column;
    }

    .our-features {
        margin: 50px auto;
    }
    .sponsor-companis, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}